/* Estilos personalizados para la web */
body {
    background-color: #f8f9fa;
}

.navbar-brand img {
    border-radius: 50%;
    margin-right: 10px;
}

header {
    padding: 60px 0;
    background: #ffffff;
    border-bottom: 2px solid #dee2e6;
}